<section class="hero is-info is-fullheight">
    <div class="hero-head">
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                  <div class="field ">
                    <h1 class="title">
                      送信完了しました。&emsp;&emsp;&emsp;<br>
                      ありがとうございました。
                    </h1>
                  </div>
                </div>
            </div>
        </div>
</section>





