<section class="hero is-info is-fullheight">
    <div class="hero-head">
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                      お問い合わせ
                    </h1>
                    <div class="box">
                        <div class="field ">
                            <p class="control ">
                            <%= form_with model: @comment,local: true do |f| %>
                              <%= f.text_area :content, placeholder: "意見、感想などを入力", required: true, :html=>"input",:class=>"input textarea"%>
                              <%= f.submit "送信", :html=>"a", :class=>"button is-primary is-info"%>
                            <% end %>
                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>





