<section class="hero is-info is-fullheight">
    <div class="hero-head">
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                  <div class="field ">
                      <h1 class="title">
                          <a href="/">めしタイム</a>は&emsp;&emsp;&emsp;<br>
                          飲食店の営業時間が<br>
                          すぐにわかる&emsp;&emsp;&emsp;<br>
                          検索サイトです。&emsp;
                      </h1>
                  </div>
                </div>
            </div>
        </div>
</section>




