<nav class="navbar is-fixed-top">
<section class="hero is-info">
      <div class="container">
        <h1><%= link_to "めしタイム", root_path, :style=>"text-decoration:none;", :class=>"title"%></h1>
    </div>
  </section>
</nav>

<div class="hero-body">
  <h1>検索結果</h1>
  <%= @error %>
  <div id="shops">
    <%= render :partial => "shops" %>
  </div>
  <div class="container has-text-centered">
    <%= link_to_next_page @shops, 'もっと見る', remote: true, id: 'more_link',:class=>"button is-primary is-info" %>
  </div>
</div>
<footer>
</footer>
