<nav class="navbar is-fixed-top">
<section class="hero is-info">
      <div class="container">
        <h1><%= link_to "めしタイム", root_path, :style=>"text-decoration:none;", :class=>"title"%></h1>
    </div>
  </section>
</nav>

<div class="hero-body">
<h1>検索結果</h1>
<%= @error %>

<%= render :partial => "shops" %>

</div>
<footer>
<%= paginate @shops %><br><br>
</footer>
