<section class="hero is-info is-fullheight">
    <div class="hero-head">
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                      <a href="/">めしタイム</a>
                    </h1>
                    <div class="box">
                        <div class="field ">
                            <p class="control ">
                            <%= form_with url: create_path ,local: true do |f| %>
                              <%= f.text_field :keyword, placeholder: "キーワードを入力", required: true, :html=>"input",:class=>"input", :type=>"text" %>
                              <%= f.submit "検索", :html=>"a", :class=>"button is-primary is-info "%>
                            <% end %>
                           </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>




